@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E1129;
    font-family: sans-serif;
    color: #354358;
  }

#tab > div:nth-child(n+2) {
    background-color: #d84315 !important;
}